node_modules
build
artifacts
*.tfplan
*.tfstate
.terraform.lock.hcl
*.zip
*.log
yarn-error.log
bin
obj
.DS_Store
NuGet.config
nuget.config
**/terragrunt-debug.tfvars.json
**/.terraform
**/.terragrunt-cache
.idea/
*.sln.DotSettings.user
.vs/
**/.vscode/*